# Random stuff
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Rproj.user
renv/

# Build objects
__pycache__
dist
*.egg-info

# R stuff
.Rhistory
.Rprofile

tugboat.yml
tugboat.lock
Dockerfile
.dockerignore